.section-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  @media all and(min-width:768px) {
    justify-content: center;
  }
  &__link {
    width: 100%;
    text-decoration: none;
    color: rgb(7, 92, 92);
    padding: 10px;
    &:hover {
      text-decoration: underline;
    }
    @media all and(min-width:768px) {
      font-size: 1.5rem;
    }
  }
  &__title {
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    margin: 20px 0 10px 0;
    color: rgb(11, 141, 141);
    @media all and(min-width:768px) {
      font-size: 1.5rem;
    }
  }
  &__div {
    width: 100%;
    text-align: center;
    @media all and(min-width:768px) {
      width: 45%;
    }
    @media all and(min-width:1200px) {
      width: 400px;
    }
    &--img {
      border-radius: 20%;
      border: 10px solid rgb(5, 97, 97);
      box-shadow: 0 10px 20px 0 cyan;
      width: 250px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    list-style-type: none;
    @media all and(min-width:768px) {
      width: 45%;
      font-size: 1.4rem;
    }
    &--h2 {
      font-size: 1.1rem;
      color: darkgoldenrod;
      @media all and(min-width:768px) {
        font-size: 1.4rem;
      }
    }
    &--li {
      font-size: 1.1rem;
      color: rgb(93, 128, 13);
      @media all and(min-width:768px) {
        font-size: 1.4rem;
      }
    }
  }
}
